// 基礎重置樣式
*,
*::before,
*::after {
  box-sizing: border-box;
}

// 全局基本字體大小設定為 14px
html {
  font-size: 14px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
